header
    span(class="logo") Doner Place
    span(class="username") - Welcome Master, #{currentUser.username}!
    ul(class="menu")
        li
            a(class="button" href="/") Home
        li
            a(class="button" href="/order-status") Order Status
        li
            a(class="button" href="/my-orders") My Orders
        li
            a(class="button" href="/all-orders") All Orders
        li
            a(class="button" href="/create-product") Create Product
        li
            a(class="button" href="/customize-order") Customize Product
        li
            a(class="button" href="/logout") Logout