header
    span(class="logo") Doner Place
    span(class="greeting") Welcome, Pesho!
        a(href="#") logout
    ul(class="menu")
        li
            a(class="button" href="#") Home
        li
            a(class="button" href="#") Order Status
        li
            a(class="button" href="#") Login
        li
            a(class="button" href="#") Register