header
    span(class="logo") Doner Place
    span(class="greeting") Welcome, Pesho!
        a(href="#") logout
    ul(class="menu")
        li
            a(class="button" href="/") Home
        li
            a(class="button" href="/order-status") Order Status
        li
            a(class="button" href="/login") Login
        li
            a(class="button" href="/register") Register