extends ../includes/layout.pug 

block main-header
	include ../includes/header.pug

block main-content
	main
		form(method="post" action='/register')
			div
				h2 Register
			div
				label(for="username") Username
				input(id="username" name="username" type="text" class="input")
			div
				label(for="firstName") First Name 
				input(id="firstName" name="firstName" type="text" class="input")
				| Optional
			div
				label(for="password") Password
				input(id="password" name="password" type="password" class="input")
			div
				input(value="Submit" type="submit" class="input")