extends includes/layout

block main-header
    include includes/header.pug
block main-content
    main
        h1 Welcome to Doner Place!
        p We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef and lamb and any topping you want. Place your order now!
        div(class="products")
            h2 Chicken Doner
            div(class="product-card")
                img(src="/img/chicken-17.png")
                a(href="#" class="button product-title") Order
            div(class="product-card")
                img(src="/img/chicken-21.png")
                a(href="#" class="button product-title") Order
            div(class="product-card")
                img(src="/img/chicken-24.png")
                a(href="#" class="button product-title") Order
            h2 Beef Doner
            div(class="product-card")
                img(src="/img/beef-17.png")
                a(href="#" class="button product-title") Order
            div(class="product-card")
                img(src="/img/beef-21.png")
                a(href="#" class="button product-title") Order
            div(class="product-card")
                img(src="/img/beef-24.png")
                a(href="#" class="button product-title") Order   
            h2 Labm Doner
            div(class="product-card")
                img(src="/img/lamb-17.png")
                a(href="#" class="button product-title") Order
            div(class="product-card")
                img(src="/img/lamb-21.png")
                a(href="#" class="button product-title") Order
            div(class="product-card")
                img(src="/img/lamb-24.png")
                a(href="#" class="button product-title") Order                   